<!-- extend base template -->
{% extends "base.html" %}

<!-- override base title block -->
{% block title %}Home{% endblock %}

{% block content %}
<!-- notes -->
<h1 align="center" style="margin-top: 300px;">Identifying and processing emotions can be hard, especially for LGBT+ individuals</h1>
<p align="center"><strong>Let’s do it together.</strong></p>
<div style="display: flex; justify-content: space-between; width: 30%; margin-left: 375px;">
  <a href="/about"><button type="submit" class="btn btn-primary">Learn More</button></a>
  <a href="/identify"><button type="submit" class="btn btn-primary">Identify</button></a>
</div>
{% endblock %}


