<!-- extend base template -->
{% extends "base.html" %}

<!-- override base title block -->
{% block title %}Login{% endblock %}

{% block content %}
<!-- login form -->
<form method="POST">
  <h3 align="center" style="margin-top: 225px;">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email" 
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br>
  <!-- create btn with bootstrap class -->
  <div align="center">
    <button align="center" type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
{% endblock %}
