<!-- extend base template -->
{% extends "base.html" %}

<!-- override base title block -->
{% block title %}Resources{% endblock %}

{% block content %}
<!-- notes -->
<h1 align="center" style="margin-top: 250px;">Resources</h1>
<div align="center">
  <a style="font-size: 40px;" href="https://q-card-project.square.site/">The Q Card Project</a> <br>
  <a style="font-size: 40px;" href="https://itgetsbetter.org/">It Gets Better Project</a> <br>
  <a style="font-size: 40px;" href="http://www.thetrevorproject.org/">The Trevor Project: Crisis Intervention and Suicide Prevention</a> <br>
</div>
{% endblock %}


