<!-- extend base template -->
{% extends "base.html" %}

<!-- override base title block -->
{% block title %}Home{% endblock %}

{% block content %}
<!-- notes -->
<h1 align="center" style="margin-top: 100px;">How are you?</h1>
<p>Please type 2 or 3 sentences in the box below so we can help identity the feeling you may be experiencing. </p>
<form method="POST">
  <textarea name="description" id="description" class="form-control" style="height: 400px; width: 1100px"></textarea>
  <br>
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}


